<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <add name="Constr" connectionString="Data Source=sql5005.site4now.net;Initial Catalog=DB_A3DB5A_HotelBillingSystem;User ID=DB_A3DB5A_HotelBillingSystem_admin;Password=itbuild@2018;" providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>